<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Nom & Prénom</th>
      <th>Mobile</th>
      <th>Fixe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr class="table-primary">
        <td><%= contact.email %></td>
        <td><%= contact.names %></td>
        <td><%= contact.mobile %></td>
        <td><%= contact.phone %></td>
        <td class="btn btn-outline-primary"><%= link_to 'Voir', contact %></td>
        <td class="btn btn-outline-primary"><%= link_to 'Modifier', edit_contact_path(contact) %></td>
        <td class="btn btn-outline-primary"><%= link_to 'Supprimer', contact, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un Contact', new_contact_path %>
