<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Nom & prénom:</strong>
  <%= @contact.names %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Fixe:</strong>
  <%= @contact.phone %>
</p>

<%= link_to 'Modifier', edit_contact_path(@contact) %> |
<%= link_to 'Retour', contacts_path %>
